# Virtual Environment
.venv/
venv/

# Environment variables
.env

#data
data/*
!data/
!data/targets.json

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: IDE
.vscode/
.idea/